<!-- Wrapper -->
<div id="wrapper">
	<!-- Banner -->
	<!-- Note: The "styleN" class below should match that of the header element. -->
	<section id="banner" class="major">
		<div class="inner" [@fadeIn]='state'>
			<header class="major">
				<h1>Hi, my name is Irena Ljubikj</h1>
			</header>
			<div class="content">
				<p>A mobile app and game developer</p>
				<ul class="actions">
					<li><a pageScroll href="#games" class="button scrolly">Games</a></li>
					<li><a pageScroll href="#projects" class="button scrolly">Web & Apps</a></li>
					<li><a pageScroll href="#contact" class="button scrolly">Contact</a></li>
				</ul>
			</div>
		</div>
	</section>

	<router-outlet></router-outlet>

	<!-- Footer -->
	<footer id="footer">
		<div id="contact" class="inner">
			<ul class="icons">
				<li><a class="icon alt grow fa-envelope" href="mailTo:irena.ljubikj@gmail.com" target="_blank"></a></li>
				<li><a class="icon alt grow fa-facebook" href="https://facebook.com/irena.ljubik" target="_blank"></a></li>
				<li><a class="icon alt grow fa-twitter" href="https://twitter.com/IrenaLjubik" target="_blank"></a></li>
				<li><a class="icon alt grow fa-linkedin" href="https://linkedin.com/in/irena-ljubik/" target="_blank"></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Irena Ljubikj</li>
				<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>
	</footer>

</div>