<!-- Main -->
<div id="main-wrapper">
  <div class="container">

    <!-- Game Portfolio -->
    <div class="row">
      <div class="12u">

        <section id="game">
          <header class="major">
            <h2>Game projects</h2>
          </header>
          <div class="row">
            <div class="4u 12u(mobile)">
              <section class="box">
                <a href="#" class="image featured"><img src="assets/images/klonk.png" alt="" /></a>
                <header>
                  <h3>Klonk (2016-Present)</h3>
                </header>
                <p>3D Platformer. Made with Unity. Worked as UI Developer.</p>
                <p>Team: <a href="https://cupidi.github.io">Mario Ampov</a>, <a href="https://www.linkedin.com/in/vladimirvasilevski/">Vladimir Vasilevski</a>,
                  <a href="https://www.linkedin.com/in/kristina-mancheva-a69ab240/">Kristina Mancheva</a> and <a href="https://www.linkedin.com/in/marijanpetrovski/">Marijan Petrovski</a></p>
                <footer>
                  <a href="" class="button alt">Find out more</a>
                </footer>
              </section>
            </div>
            <div class="4u 12u(mobile)">
              <section class="box">
                <a href="#" class="image featured"><img src="assets/images/excubitor.jpg" alt="" /></a>
                <header>
                  <h3>Excubitor (2015-2016)</h3>
                </header>
                <p>Classic inspired Tower Defense Bullet Hell Shooter for Windows, Mac, Linux. Worked as UI Developer.</p>
                <p>Team: <a href="https://www.facebook.com/teamtesseract/">Tesseract Interactive</a></p>
                <footer>
                  <a href="http://store.steampowered.com/app/357030/Excubitor/" class="button alt">Find out more</a>
                </footer>
              </section>
            </div>
            <div class="4u 12u(mobile)">
              <section class="box">
                <a href="#" class="image featured"><img src="assets/images/puzzle-pilot-1.png" alt="" /></a>
                <header>
                  <h3>Puzzle Pilot (2015)</h3>
                </header>
                <p>2D Puzzle game for Android and IOS. Made with Unity. Worked as UI Developer.</p>
                <p>Team: <a href="https://cupidi.github.io">Mario Ampov</a>, <a href="https://www.linkedin.com/in/vladimirvasilevski/">Vladimir Vasilevski</a>,
                  <a href="https://www.linkedin.com/in/kristina-mancheva-a69ab240/">Kristina Mancheva</a> and <a href="https://www.linkedin.com/in/marijanpetrovski/">Marijan Petrovski</a></p>
                <footer>
                  <a href="http://bigfatsparrow.com/puzzlepilot/" class="button alt">Find out more</a>
                </footer>
              </section>
            </div>
          </div>
          <div class="row">
            <div class="4u 12u(mobile)">
              <section class="box">
                <a href="#" class="image featured"><img src="assets/images/rite-of-passage.png" alt="" /></a>
                <header>
                  <h3>Rite of passage GGJ (2016)</h3>
                </header>
                <p>Prototype game for Global Game Jam with theme "Ritual". Made with Unity.</p>
                <p>Team: <a href="https://cupidi.github.io">Mario Ampov</a> and <a href="https://www.linkedin.com/in/vladimirvasilevski/">Vladimir Vasilevski</a></p>
                <footer>
                  <a href="http://globalgamejam.org/2016/games/rite-passage-7" class="button alt">Find out more</a>
                </footer>
              </section>
            </div>
            <div class="4u 12u(mobile)">
              <section class="box">
                <a href="#" class="image featured"><img src="assets/images/inspired.png" alt="" /></a>
                <header>
                  <h3>Inspired GGJ (2014)</h3>
                </header>
                <p>Prototype game for Global Game Jam with theme "Not everything is what is seems". Made with Unity.</p>
                <p>Team: <a href="https://cupidi.github.io">Mario Ampov</a>, <a href="https://www.linkedin.com/in/vladimirvasilevski/">Vladimir Vasilevski</a>                  and Ilija Vankov</p>
                <footer>
                  <a href="http://globalgamejam.org/2014/games/inspired" class="button alt">Find out more</a>
                </footer>
              </section>
            </div>
          </div>
        </section>

      </div>
    </div>

    <!-- Other Portfolio -->
    <div class="row">
      <div class="12u">

        <section id="other">
          <header class="major">
            <h2>Other projects</h2>
          </header>
          <div class="row">
            <div class="4u 12u(mobile)">
              <section class="box">
                <a href="#" class="image featured"><img src="assets/images/fitkit.png" alt="" /></a>
                <header>
                  <h3>FitKit (2017)</h3>
                </header>
                <p>Hybrid mobile app for allows you to workout everything, anywhere and anytime you choose, at the best gyms
                  and studios near you. Made with Angular 2, Ionic 2 and Firebase.</p>
                <p>Team: <a href="https://cupidi.github.io">Mario Ampov</a>, <a href="https://www.linkedin.com/in/vladimirvasilevski/">Vladimir Vasilevski</a>,
                  <a href="https://www.linkedin.com/in/kristina-mancheva-a69ab240/">Kristina Mancheva</a> and <a href="https://www.linkedin.com/in/marijanpetrovski/">Marijan Petrovski</a></p>
                <footer>
                  <a href="https://www.facebook.com/fitkitmk/" class="button alt">Find out more</a>
                </footer>
              </section>
            </div>
            <div class="4u 12u(mobile)">
              <section class="box">
                <a href="#" class="image featured"><img src="assets/images/dario.png" alt="" /></a>
                <header>
                  <h3>Dareio (2017)</h3>
                </header>
                <p>Hybrid mobile app for dating. Made with Angular 2, Ionic 2 and Firebase.</p>
                <p>Team: <a href="https://cupidi.github.io">Mario Ampov</a>, <a href="https://www.linkedin.com/in/vladimirvasilevski/">Vladimir Vasilevski</a>,
                  <a href="https://www.linkedin.com/in/kristina-mancheva-a69ab240/">Kristina Mancheva</a> and <a href="https://www.linkedin.com/in/marijanpetrovski/">Marijan Petrovski</a></p>
              </section>
            </div>
            <div class="4u 12u(mobile)">
              <section class="box">
                <a href="#" class="image featured"><img src="assets/images/upverb.png" alt="" /></a>
                <header>
                  <h3>UpVerb (2017)</h3>
                </header>
                <p>Online language learning platform that enables teachers and students to schedule classes. Made with Angular
                  2 and NodeJS. Worked as front-end developer.</p>
                <p>Team: <a href="https://cupidi.github.io">Mario Ampov</a> and <a href="https://www.linkedin.com/in/marijanpetrovski/">Marijan Petrovski</a></p>
                <footer>
                  <a href="#" class="button alt">Find out more</a>
                </footer>
              </section>
            </div>
          </div>
        </section>

      </div>
    </div>

  </div>
</div>